In [2]:
import pandas as pd
import bcrypt

In [3]:
prof_data = pd.read_csv("Professors.csv")
student_data = pd.read_csv("Students_TA.csv")

student_data[student_data["Full Name"] == "Alisa Lynch"]

,Full Name,Email,Age,Zip,Phone,Gender,City,State,Password,Street,...,Course 3 Details,Course 3 Section,Course 3 Section Limit,Course 3 HW_No,Course 3 HW_Details,Course 3 HW_Grade,Course 3 EXAM_No,Course 3 Exam_Details,Course 3 EXAM_Grade,Teaching Team ID
0,Alisa Lynch,ally47@nittany.edu,19,62901,1507045398,F,Carbondale,Illinois,ixg1libp,78 South Brewery Ave.,...,3 Credit Course.,2.0,60,1.0,Turn in this homework online!,90.0,NaN,NaN,NaN,NaN

In [7]:
for i in range(len(prof_data["Password"])):
    prof_data["Password"][i] = bcrypt.hashpw(prof_data["Password"][i].encode('utf8'), bcrypt.gensalt())

C:\Users\iamrk\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for i in range(len(student_data["Password"])):
    student_data["Password"][i] = bcrypt.hashpw(student_data["Password"][i].encode('utf8'), bcrypt.gensalt())

C:\Users\iamrk\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy